@import './modules/animations.css';
@import './modules/variables.css';
@import './modules/layout.css';
@import './modules/header.css';
@import './modules/nav.css';
@import './modules/menu.css';
@import './modules/cards.css';
@import './modules/buttons.css';
@import './modules/hero.css';
@import './modules/swiper.css';

.body {
    background-color: var(--primary-theme-color);
    color: var(--third-text-color);
    font-family: var(--third-text-color);
    margin: 0;
}

.main {
    overflow: hidden;
}

