@import '/modules/cards.css';
@import '/modules/header.css';
@import '/modules/layout.css';
@import '/modules/menu.css';
@import '/modules/nav.css';
@import '/modules/buttons.css';
@import '/modules/variables.css';

.body {
    background-color: var(--primary-theme-color);
    color: var(--third-text-color);
    font-family: var(--third-text-color);
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section--hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

