.card__button {
    display: flex;
    gap: 0.5rem;
}

.button {
    background-color: var(--primary-highlight-color);
    border: 0.0625rem solid #61dafb;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: monospace;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .button {
        font-size: 1rem;
    }

    .card__button {
        display: flex;
        gap: 1rem;
    }
}
