@import '/modules/variables.css';

.menu {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    color: var(--primary-text-color);
    font-weight: 78px;
    text-decoration: none;
    transition: 025ms;
    font-family: var(--primary-font-family);
}

.menu__link:hover {
    color: var(--primary-back-ground-color);
}