@import './variables.css';

.buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.button {
    background-color: var(--secondary-text-color);
    border: 0.0625rem solid var(--primary-theme-color);
    border-radius: 0.5rem;
    color: var(--third-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: monospace;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: 0.25s, filter 0.25s;
}

.button:hover {
    box-shadow: 0 0 0.125rem 0.125rem;
    filter: brightness(2.125);
}

.card__button {
    text-decoration: none;
    background-color: var(--secondary-text-color);
    border-radius: 0.25rem;
    transition: 0.25s, filter 0.25s;
    margin: 0px 0px 0px 5px;
    display: flex;
    gap: 0.5rem;
    color: var(--third-text-color);
    
}

.card__button:hover {
    box-shadow: 0 0 0.125rem 0.125rem;
    filter: brightness(0.95);
    color: var(--third-text-color);
}



@media (min-width: 768px) {
    .buttons {
        display: flex;
        gap: 1rem;
    }

    .button {
        font-size: 1rem;
    }
}
